.video-btn {
    display: flex;
    align-items: center;
    color: var(--color-heading);
    gap: 1rem;
    cursor: pointer;
}

.video-btn svg {
    padding: 2rem;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 1px 1px 5px #cbcbcb;
}
