.header__navigation {
    position: relative;
}

.header__menu-icon {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 15;
    cursor: pointer;
}

.header__logo {

}

.header__menu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: var(--color-accent);
    width: 70%;
    min-width: 70%;
    min-height: 50vh;
    top: 0;
    padding: 30px;
}

.header__menu.open {
    display: block;
}

.menu-item.has-submenu {

}

.menu-item.has-submenu.open .menu.submenu{
    display: block;
}

.menu.submenu {
    display: none;
}

.header__actions {

}

.header__auth-buttons {

}

@media screen and (min-width: 768px) {
    .header__menu-icon {
        display: none;
    }

    .header__menu {
        display: block;
        position: static;
        height: auto;
        width: auto;
    }
}
