/*Navigation start*/
.header__navigation {
    display: flex;
}

/*logo start*/
.header__menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
    cursor: pointer;
}

.header__logo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.header__logo-link {
    height: 5rem;
}

.header__logo-text {
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
}
/*logo end*/

/*menu start*/
.header__menu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: var(--color-accent);
    width: 70%;
    min-width: 70%;
    min-height: 30vh;
    top: 0;
    left: 0;
    padding: 7rem 3rem 3rem;
}

.header__menu.open {
    display: block;
}

.has-submenu.open .header__submenu {
    display: block;
}

.header__menu-item{
    word-break: break-word;
    cursor: pointer;
}

.header__menu-items .header__submenu {
    display: none;
    padding-left: 2rem;
}

.header__submenu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__submenu-icon {
    line-height: 1;
}

.header__submenu-icon span svg {
    height: 100%;
    width: auto;
}

.has-submenu.open .header__submenu-icon svg {
    rotate: 90deg;
}

/*menu end*/

@media screen and (min-width: 768px) {
    .header__navigation {
        gap: 2rem;
    }

    .header__nav {
        display: flex;
    }

    .header__menu-icon {
        display: none;
    }

    .header__logo-link svg {
        height: 5rem;
    }

    .header__menu {
        display: flex;
        position: initial;
        width: auto;
        min-width: auto;
        min-height: initial;
        background-color: inherit;
        padding: 0;
        z-index: initial;
    }

    .header__logo {
        margin-right: 4rem;
        margin-left: 0;
    }

    .header__logo-text {
        font-size: 2.5rem;
    }

    .header__menu-items {
        display: flex;
        flex-wrap: wrap;
        gap: 3.5rem;
        margin: 0;
    }

    .header__menu-item{
        display: flex;
        align-items: center;
    }

    .header__menu-item a {
        position: relative;
    }

    .header__menu-item a:hover,
    .header__menu-item a.active {
        color: var(--color-accent);
    }

    .header__menu-item a.active::after {
        content: "";
        position: absolute;
        display: block;
        height: .5rem;
        width: 100%;
        left: 0;
        bottom: 0;
        top: calc(200% + 2px);
        background-color: var(--color-accent);
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .header__menu-item .header__submenu a,
    .header__menu-item .header__submenu a:hover {
        color: var(--color-accent);
    }

    .header__submenu a.active {
        text-decoration: underline;
    }

    .header__submenu a.active::after {
        content: none;
    }

    .header__submenu-icon {
        display: none;
    }

    .has-submenu {
        position: relative;
    }

    .header__submenu {
        position: absolute;
        background-color: var(--color-light);
        width: max-content;
        top: 99%;
        padding: 1rem 1rem 1rem 2rem;
    }

    .has-submenu:hover .header__submenu{
        display: block;
    }
}

/*Navigation end*/

/*Action start*/
.header__actions {
    display: flex;
}

.header__search {
    margin-right: 2.5rem;
}

/*Action end*/
