* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--color-light-dark);
    font-size: 1.6rem;
    line-height: 1.5;
    word-spacing: 0.2rem;
    background-color: var(--color-white);
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

a {
    color: var(--color-light);
    text-decoration: none;
}

a:hover, a:focus {

}

button, input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main-bold);
    color: #1b1b1b;
}

.text-primary {
    color: var(--color-heading);
}

.text-light {
    color: var(--color-light);
}

.text-accent {
    color: var(--color-accent);
}

.container {
    margin: 0 auto;
    padding: 0 2.4rem;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 57rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 76rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 99rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 116rem;
    }
}

.button {
    background-color: var(--color-accent);
}

.image-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
