.promo-title__promo {
    display: block;
    position: relative;
    padding-left: 2.8rem;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    color: var(--color-accent);
}

.promo-title__promo::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: var(--color-accent);
    width: 1.5rem;
    height: 2px;
    left: 0;
    top: 50%;
}

.promo-title__heading {
    margin: 0 0 2.9rem 0;
    font-size: 2.9rem;
    line-height: 1.15;
}

@media screen and (min-width: 768px) {
    .promo-title__heading {
        font-size: 4rem;
        max-width: 70%;
        margin: 0;
    }
}
