.header {
    color: var(--color-light);
}

.header ul {
    list-style: none;
    padding-left: 0;
}

.header__wrapper {
    background-color: var(--color-heading);
}

.header__elements {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
