.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 80vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: var(--color-light);
}

.popup.open {
    display: inline-block;
}

.popup__button {
    cursor: pointer;
}

.popup__button svg {
    fill: var(--color-heading);
}

.popup__content iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

@media screen and (min-width: 768px) {
    .popup {
        width: 60vw;
    }
}
