.footer {
    background-color: var(--color-heading);
}

.footer * {
    color: var(--color-light-dark);
}

/*Footer container*/
.footer__container {
    padding-top: 4.2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-light-dark);
}

.footer__container .nav__image {
    justify-content: left;
}

.footer__container .nav__image svg {
    height: 5rem;
}

.footer__container .header__logo-link {
    margin-bottom: 4rem;
}

.footer__container .header__logo-text {
    color: var(--color-light);
}

.footer__description {
    margin-bottom: 3.5rem;
    color: var(--color-light-dark);
}

.footer__brand {
    margin-bottom: 3.3rem;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem 2rem;
}

.footer__column {
    flex-basis: calc(50% - 2rem);
}

.footer__column h3 {
    font-size: 2.1rem;
    font-family: var(--font-main);
    text-transform: capitalize;
    color: var(--color-light);
}

.footer__column ul {
    list-style: none;
    padding-left: 0;
}

.footer__column li:not(:last-of-type) {
    margin-bottom: 1.8rem;
}

@media screen and (min-width: 768px) {
    .footer__column {
        flex-basis: auto;
    }
}

@media screen and (min-width: 992px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
        gap: 6.5rem;
        padding-top: 9rem;
        padding-bottom: 2.5rem;
    }

    .footer__brand {
        flex-basis: 40%;
    }

    .footer__container .header__logo-text {
        font-size: 3rem;
    }

    .footer__container .header__logo-link {
        margin-bottom: 3rem;
    }

    .footer__description {
        line-height: 1.55;
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }

    .footer__menu {
        flex-basis: calc(60% - 6.5rem);
        gap: 2rem;
    }

    .footer__menu h3 {
        font-size: 1.8rem;
        margin-top: 0;
    }

    .footer__column li:not(:last-of-type){
        margin-bottom: 1.5rem;
    }
}

/*Footer container end*/

/*Footer bottom*/
.footer__bottom {
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: .1rem;
}

.footer__legal-link:not(:last-of-type):after {
    content: "|";
    padding-right: 2rem;
    left: 1rem;
    position: relative;
}
@media screen and (min-width: 992px) {
    .footer__bottom {
        letter-spacing: initial;
        font-size: 1.8rem;
    }

    .footer__copyright {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }

    .footer__legal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
/*Footer bottom end*/

