.hero-banner {
    position: relative;
    background-color: var(--color-light);
}

.hero-banner .swiper {
    position: absolute;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.hero-banner .swiper picture {
    display: inline-block;
    width: 25rem;
    height: 40rem;
}

.hero-banner .swiper-button-prev,
.hero-banner .swiper-button-next {
    position: static;
}

.hero-banner__content {
    padding-top: 7.6rem;
}

.hero-banner-message {
    display: inline-flex;
    background-color: var(--color-white);
    padding: 0.8rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.hero-banner-message__icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.hero-banner-message__icon svg {
    height: 2rem;
    width: 2rem;
}

.hero-banner__text {
    margin: 0;
}

.hero-banner h1 {
    margin-top: 0;
    font-size: 3.7rem;
    line-height: 1.2;
}

.hero-banner__description {
    font-size: 1.9rem;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.hero-banner__cta-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
}
